@model DroneMainAdmin.Models.User

@{
    ViewBag.Title = "ForgetPassword";
}
<style>
    .thick-green-border {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    width: 100px;
  }
</style>
<div class="header-foot">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 freeHead_section emailVerification">
                    <div class="panel panel-default">
                        <div class="panel-body">
                         @using (Html.BeginForm())
                         {
                            @Html.AntiForgeryToken()

                                    <div class="page-head-title wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                                        <img class="smaller-image thick-green-border" src="~/images/promaxLogo.png" alt="Drone Fest logo"><hr/>
                                        <div class="title-area">
                                            <h2 class="title">FORGET <span>REQUEST</span></h2>
                                        </div><hr/>
                                        <div class="head-content">
                                           
                                            <div class="form-group" style="margin-left:150px;">
                                                @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "col-md-offset-3 form-control",@placeholder="Your Email Id" } })
                                                @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                                          </div>
                                        <div class="form-group">
                                                <input type="submit" value="Submit" class="btn btn-sm btn-pink" />
                                            
                                     
                                            
                                            <a href="@Url.Action("Login","User")" title="Back to home"><i class="glyphicon glyphicon-arrow-left hvr-icon-buzz"></i> Back to home</a>
                                        </div>
                                    </div>
                         </div>
                        } 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>